<div class="navigation">
  {{#link-to "about"}}<span {{action "addAbout" on="mouseEnter"}}{{action "fall" on="mouseLeave"}}>1</span>{{/link-to}}
  {{#link-to "work"}}<span {{action "addWork" on="mouseEnter"}}{{action "fall" on="mouseLeave"}}>2</span>{{/link-to}} 
  {{#link-to "contact"}}<span {{action "addContact" on="mouseEnter"}}{{action "fall" on="mouseLeave"}}>3</span>{{/link-to}}
</div>